
@mixin center() {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

@mixin column() {
  display: inline-block;
  padding: 5px;
}

#app-container {
  @include center();
  width: 75%;
  margin-top: 10%;
  min-width: 440px;
}

#user-list-container {
  height: 600px !important;
  overflow: auto !important;
}

.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

#header {
  padding-left: 15px;
  padding-right: 15px;
  width: 600px;
}

.user-list-header {
  @include column();
  font-weight: bold !important;
}

#user-list-item {
  width: 600px;
}

#user-list {  
  overflow: auto;
}

.user-list-field {
  @include column();
}