
@mixin center() {
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  margin: auto !important;
}

@mixin column() {
  display: inline-block;
  padding: 5px;
  width: 150px;
}

#user-list {
  @include center();
  width: 750px;
  height: 500px;
  overflow-y: auto;
}

.user-list-header {
  @include column();
  font-weight: bold !important;
}

#user-list-container {
}

.user-list-field {
  @include column();
}